<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MOC 社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">

    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>


</head>
<body>

<!-- 引入导航栏 -->
<div th:insert="~{navigation :: nav}"></div>

<!-- 主体：发起问题 -->
<div class="jumbotron">
    <h1>出错啦！</h1>
    <p th:text="${message}">页面不见啦。。。</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
</div>

<!-- 引入页尾 -->
<div th:insert="~{footer :: foot}"></div>

</body>
</html>